body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  & .content {
    width: 250px;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: antiquewhite;
    text-align: center;
  }
  ul {
    list-style: none;
    display: flex;
    padding: 0;
  }
}